:root {
    --primary-color: #42393b;
    --white-color: #fff;
    --secondary-color: #75c9a3;
    --terciary-color: #bac99a;
    --forty-color: #ffc897;
    --fift-color: #f7efa2;
    --gap: 3rem;
}